[package]
  name = "bevypunk"
  authors     = ["Dominik Kaspar"]
  version     = "0.0.1"
  edition     = "2021"
  license     = "MIT OR Apache-2.0"
  repository  = "https://github.com/idedary/bevypunk"

[profile.dev]
opt-level = 2

[profile.dev.package."*"]
opt-level = 3


[dependencies]

  # Required for VFX
  rand = "0.8.5"

  # Required for animations
  #vleue_kinetoscope = "0.1.1"

  # UI framework
  #bevy_lunex = { git = "https://github.com/bytestring-net/bevy_lunex", branch="dev", features=["picking"] }
  bevy_lunex = { path = "/home/dominik/Projects/Bytestring/bevy_lunex/crates/bevy_lunex", features=["picking"] }

  # Game engine
  bevy = { version = "0.13.2", default_features = false, features = [
    # Core
    "bevy_core_pipeline",
    "multi-threaded",
    "bevy_winit",
    "bevy_audio",
    "bevy_sprite",
    "bevy_text",
    "webgl2",

    # Core formats
    "vorbis",
    "png",

    # VFX
    "hdr",
    "tonemapping_luts",
    
    # 3D
    "jpeg",
    "bevy_gltf",

    # Asset preprocessor
    #"asset_processor",
  ] }

  # Will be upstreamed into Bevy in the future
  bevy_eventlistener = { version = "0.7.0" }
  bevy_mod_picking = { version = "0.19.0", default_features = false, features = [
    "debug",
    "selection",
    "highlight",
  ] }

  # Platform specific
  [target.'cfg(unix)'.dependencies]
  bevy = { version = "0.13.2", default_features = false, features = ["x11"] }

  # Dev
  [dev-dependencies]
  bevy = { version = "0.13.2", default_features = false, features = ["dynamic_linking"] }